node_modules/
.env
package-lock.json
.vite/
.vscode/
Frontend/node_modules/
Frontend/.gitignore
Backend/node_modules/
Backend/package.json
Backend/package-lock.json
Frontend/package.json
Frontend/package-lock.json
Backend/.gitignore
